<div style="text-align:center">
    <h1>Edycja Raportu</h1>
</div>

<%= render 'form', report: @report %>
<%= link_to (render 'renders/button_back'), reports_path, class:"btn btn-secondary btn-sm" %>
<%= link_to (render 'renders/button_show'), @report, class:"btn btn-info btn-sm" %>
